<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>block1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block11.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{40,0},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block12.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{80,0},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block13.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,0},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block14.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{160,0},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block15.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,0},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block16.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,40},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block17.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{40,40},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block18.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{80,40},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block19.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,40},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{160,40},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block21.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,40},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block22.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,80},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block23.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{40,80},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block24.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{80,80},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block25.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,80},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block26.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{160,80},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block27.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,80},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block28.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,120},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block29.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{40,120},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{80,120},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block31.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,120},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block32.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{160,120},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block33.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,120},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block34.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,160},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block35.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{40,160},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block36.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{80,160},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block37.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,160},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block38.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{160,160},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block39.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,160},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,200},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block41.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{40,200},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block42.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{80,200},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block43.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,200},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block44.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{160,200},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block45.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,200},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block46.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,240},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block47.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{40,240},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block48.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{80,240},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block49.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,240},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{160,240},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block6.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,240},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,280},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{40,280},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>block9.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{80,280},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>block40px.png</string>
				<key>textureFileName</key>
				<string>block40px</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
